<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple/DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Ancestors</key>
            <array>
                <string>com.apple.dt.unit.base</string>
            </array>
        <key>Concrete</key>
            <true/>
        <key>Description</key>
            <string>This is template for a RIOT-OS application</string>
        <key>Identifier</key>
            <string>de.eicht.dt.riot-base</string>
        <key>Kind</key>
            <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
        <key>Platforms</key>
            <array>
                <string>com.apple.platform.macosx</string>
            </array>
        <key>Definitions</key>
            <dict>
                <key>main.c</key>
                <dict>
                    <key>Path</key>
                    <string>main.c</string>
                </dict>
                <key>Makefile</key>
                <dict>
                    <key>Path</key>
                    <string>Makefile</string>
                </dict>
                <key>riot-os.icns</key>
                <dict>
                    <key>Path</key>
                    <string>riot-os.icns </string>
                </dict>
                <key>Configurations/TelosB.xcconfig</key>
                <dict>
                    <key>Group</key>
                    <string>Configurations</string>
                    <key>Path</key>
                    <string>Configurations/TelosB.xcconfig</string>
                </dict>
                <key>Configurations/redbee-econotag.xcconfig</key>
                <dict>
                    <key>Group</key>
                    <string>Configurations</string>
                    <key>Path</key>
                    <string>Configurations/redbee-econotag.xcconfig</string>
                </dict>
            </dict>
        <key>Nodes</key>
            <array>
                <string>main.c</string>
                <string>Makefile</string>
                <string>riot-os.icns</string>
            </array>
        <key>Project</key>
            <dict>
                <key>Configurations</key>
                    <dict>
                        <key>Debug</key>
                            <dict/>
                        <key>Release</key>
                            <dict/>
                    </dict>
                <key>BasedOn</key>
                    <dict>
                        <key>Debug</key>
                            <string>Configurations/base.xconfig</string>
                        <key>Release</key>
                            <string></string>
                    </dict>
                <key>SharedSettings</key>
                    <dict>
                        <key>PATH</key>
                            <string>$(PATH):$(PROJECT_DIR)</string>
                        <key>PRODUCT_NAME</key>
                            <string>$(TARGET_NAME)</string>
                        <key>RIOTBASE</key>
                            <string>$(CURDIR)/../../RIOT</string>
                    </dict>
            </dict>
        <key>Targets</key>
            <array>
                <dict>
                    <key>Name</key>
                    <string>All</string>
                    <key>BuildToolPath</key>
                    <string>make</string>
                    <key>TargetType</key>
                    <string>Legacy</string>
                    <key>BuildToolArgsString</key>
                    <string>all -C &quot;$(PROJECT)&quot;</string>
                    <key>BuildToolDirectory</key>
                    <string>$(PROJECT)</string>
                    <key>BuildWorkingDirectory</key>
                    <string>$(PROJECT)</string>
                    <key>BuildToolWorkingDirectory</key>
                    <string>$(PROJECT)</string>
                    <key>BuildToolWorkingDir</key>
                    <string>$(PRJECT)</string>
                    <key>CustomBuildSettings</key>
                    <dict>
                        <key>BuildToolDirectory</key>
                        <string>$(PROJECT)</string>
                        <key>BuildWorkingDirectory</key>
                        <string>$(PROJECT)</string>
                        <key>BuildToolWorkingDirectory</key>
                        <string>$(PROJECT)</string>
                        <key>BuildToolWorkingDir</key>
                        <string>$(PRJECT)</string>
                    </dict>
                </dict>
                <dict>
                    <key>Name</key>
                    <string>Clean</string>
                    <key>TargetType</key>
                    <string>Legacy</string>
                    <key>BuildToolPath</key>
                    <string>make</string>
                    <key>BuildToolArgsString</key>
                    <string>clean -C &quot;$(PROJECT)&quot;</string>
                </dict>
                <dict>
                    <key>Name</key>
                    <string>Flash</string>
                    <key>TargetType</key>
                    <string>Legacy</string>
                    <key>BuildToolPath</key>
                    <string>make</string>
                    <key>BuildToolArgsString</key>
                    <string>flash -C &quot;$(PROJECT)&quot;</string>
                </dict>
                <dict>
                    <key>ProductType</key>
                    <string>com.apple.product-type.tool</string>
                    <key>Name</key>
                    <string>Index</string>
                    <key>Configurations</key>
                    <dict>
                        <key>Debug</key>
                        <dict/>
                        <key>Release</key>
                        <dict/>
                    </dict>
                    <key>BuildPhases</key>
                    <array>
                        <dict>
                            <key>Class</key>
                            <string>Sources</string>
                        </dict>
                    </array>
                </dict>
            </array>
        <key>Options</key>
            <array>
                <dict>
                    <key>Default</key>
                    <string>TelosB</string>
                    <key>Description</key>
                    <string>Which board to compile for and upload to</string>
                    <key>Identifier</key>
                    <string>targetBoardConfigName</string>
                    <key>Name</key>
                    <string>Board</string>
                    <key>SortOrder</key>
                    <integer>2</integer>
                    <key>Type</key>
                    <string>popup</string>
                    <key>Units</key>
                    <dict>
                        <key>TelosB</key>
                        <dict>
                            <key>Project</key>
                            <dict>
                                <key>BasedOn</key>
                                <dict>
                                    <key>Debug</key>
                                    <string>Configurations/TelosB.xcconfig</string>
                                    <key>Release</key>
                                    <string></string>
                                </dict>
                            </dict>
                        </dict>
                        <key>Redbee-Econotag</key>
                        <dict>
                            <key>Project</key>
                            <dict>
                                <key>BasedOn</key>
                                <dict>
                                    <key>Debug</key>
                                    <string>Configurations/redbee-econotag.xcconfig</string>
                                    <key>Release</key>
                                    <string></string>
                                </dict>
                            </dict>
                        </dict>
                    </dict>
                </dict>
            </array>
    </dict>
</plist>